platforms/web/next.config.js
platforms/web/glossary
platforms/web/book
platforms/web/hyperbook.json
platforms/web/public
platforms/web/archives
platforms/web/snippets
vdirectory.book.json
vdirectory.snippets.json
vdirectory.archives.json
vdirectory.glossary.json
vdirectory.public.json
vfiles.json

*.zip

activity
.env
storybook-static
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
*.tsbuildinfo

dist
!packages/next-watch/dist
# dependencies
node_modules
/.pnp
.pnp.js

# testing
coverage

# next.js
.next
out

# production
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
.pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
