.element-protect {
  border-color: var(--color-spacer);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
}

.element-protect > input {
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
  border-width: 1px;
  border-style: solid;
}

.element-protect > .icon {
  position: absolute;
  user-select: none;
  left: -14px;
  border-width: 1px;
  border-style: solid;
  height: 28px;
  width: 28px;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 10px;
}

.element-protect > .description {
  margin-bottom: 10px;
}

.element-protect > input {
  color: var(--color-text);
  background: var(--color-nav);
  border-color: var(--color-spacer);
}

.element-protect > .icon {
  background: white;
  border-color: var(--color-spacer);
}
