:root {
  --internal-color-error: #d26466;
}

html,
body {
  background: var(--color-background);
  color: var(--color-text);
}

a {
  color: var(--color-brand);
}

.sidebar,
#mobile-sidebar {
  background: var(--color-nav);
  border-right-color: var(--color-nav-border);
}

#toc-sidebar {
  background: var(--color-nav);
  border-left-color: var(--color-nav-border);
}

.sidebar > .author,
#mobile-sidebar > .author {
  color: var(--color-author-color);
  background: var(--color-author-background);
}

.sidebar > .author:hover,
#mobile-sidebar > .author:hover {
  color: var(--color-brand);
}

/* Three bars for burger menu */
.toggle > .bar1,
.toggle > .bar2,
.toggle > .bar3 {
  background-color: var(--color-brand-text);
}

.inverted .toggle > .bar1,
.inverted .toggle > .bar2,
.inverted .toggle > .bar3 {
  background-color: var(--color-brand);
}

.toc-toggle > .bar1,
.toc-toggle > .bar2,
.toc-toggle > .bar3,
.toc-toggle > .bar4 {
  background-color: var(--color-text);
}

.toc-toggle {
  background: var(--color-background);
  border-color: var(--color-nav-border);
}

header {
  background: var(--color-brand);
}

header.inverted {
  background: var(--color-brand-text);
}

.branding {
  color: var(--color-brand-text);
}

header.inverted > .branding {
  color: var(--color-brand);
}

.meta {
  border-top-color: var(--color-spacer);
}

.section > .name {
  color: var(--color-text);
  border-color: var(--color-spacer);
}

.section .name.empty {
  color: var(--color-text-deactivated);
}

.section > .name:hover {
  background: var(--color-spacer);
}

.section > .name.empty:hover {
  background: none;
}

.section > .name.active {
  background: var(--color-background);
  color: var(--color-brand);
}

.page {
  color: var(--color-text);
}

.page:hover {
  background: var(--color-spacer);
}

.page.active {
  background: var(--color-background);
  color: var(--color-brand);
}

.section > .links {
  border-left-color: var(--color-spacer);
}

a.jump {
  border-color: var(--color-brand);
}

a.jump:hover {
  background: var(--color-nav);
}

a.jump {
  text-decoration: none;
  flex: 1;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  padding: 8px 16px;
  width: 100%;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

a.jump.next {
  margin-left: 8px;
}

a.jump.next::after {
  content: " →";
}

a.jump.previous {
  margin-right: 8px;
}

a.jump.previous::before {
  content: "← ";
}

@media screen and (max-width: 800px) {
  .jump-container {
    flex-direction: column;
  }

  a.jump.next {
    margin-left: 0px;
    margin-top: 16px;
  }

  a.jump.previous {
    margin-right: 0px;
    margin-top: 16px;
  }
}

.drawer {
  background: #fff;
}

.border {
  border-color: var(--color-spacer);
}

.loading {
  background: var(--color-nav);
}

.glossary .terms {
  border-left-color: var(--color-spacer);
}
