@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #1e1e1e;
    --color-text: #b1b1b1;
    --color-nav: #222222;
    --color-nav-border: #464646;
    --color-author-background: #2c2c2c;
    --color-author-color: #b1b1b1;
    --color-spacer: #2c2c2c;
    --color-brand: var(--color-brand-dark);
  }

  header {
    background: var(--color-nav);
  }

  .branding {
    color: var(--color-brand);
  }

  .toggle > .bar1,
  .toggle > .bar2,
  .toggle > .bar3 {
    background-color: var(--color-brand);
  }
}
