:root {
  --color-background: white;
  --color-text: black;
  --color-primary: white;
  --color-secondary: #014d40;
  --color-nav: whitesmoke;
  --color-nav-border: grey;
  --color-author-background: #dcdcdc;
  --color-author-color: #939393;
  --color-spacer: lightgrey;
}
