:root {
  --color-background: white;
  --color-text: black;
  --color-text-deactivated: dimgrey;
  --color-nav: whitesmoke;
  --color-nav-border: grey;
  --color-author-background: #e3e3e3;
  --color-author-color: #606060;
  --color-spacer: lightgrey;
}
