html,
body {
  font-family: hyperbook-body, sans-serif;
  overflow-x: hidden;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

.main-grid {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "header header header"
    "nav article article";
}

.sidebar,
#mobile-sidebar {
  display: flex;
  flex-direction: column;
  grid-area: nav;
  border-right-width: 1px;
  height: calc(100vh - 80px);
  border-right-style: solid;
  overflow-y: auto;
}

#toc-sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 80px);
  border-left-width: 1px;
  border-left-style: solid;
  overflow-y: auto;
}

#mobile-sidebar {
  width: 100%;
}

.sidebar > nav,
#mobile-sidebar > nav,
#toc-sidebar > nav {
  padding: 20px;
  flex: 1;
}

.sidebar > .author,
#mobile-sidebar > .author {
  text-align: center;
  text-decoration: none;
  padding: 20px;
}

.sidebar > .author > b,
#mobile-sidebar > .author > b {
  font-weight: bold;
}

.mobile-nav {
  display: none;
  margin-left: 16px;
}

.mobile-nav .toggle {
  font-size: 42px;
  border: none;
  background: none;
  width: 40px;
  height: 40px;
}
.toggle > .bar1,
.toggle > .bar2,
.toggle > .bar3 {
  width: 35px;
  height: 5px;
  margin: 6px 0;
  transition: 0.4s;
}

.toc-toggle {
  position: fixed;
  top: 90px;
  right: 20px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border-style: solid;
  border-width: 1px;
  opacity: 0.7;
  z-index: 1000;
}

.toc-toggle:hover {
  opacity: 1;
}

.toc-toggle > .bar1,
.toc-toggle > .bar3 {
  width: 20px;
  height: 2px;
  margin: 2px 3px;
  transition: 0.4s;
}

.toc-toggle > .bar2,
.toc-toggle > .bar4 {
  width: 25px;
  height: 2px;
  margin: 2px 3px;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (max-width: 800px) {
  .main-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
      "header"
      "article";
  }

  .sidebar {
    display: none;
  }

  .mobile-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

main {
  padding: 20px 40px;
  overflow-y: auto;
}

article {
  max-width: 980px;
  margin: 0 auto;
  grid-area: article;
  line-height: 1.5;
}

header {
  display: flex;
  grid-area: header;
  align-items: center;
  z-index: 1001;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 4px;
}

.branding {
  text-decoration: none;
  display: flex;
  padding: 20px;
  align-items: center;
}

.custom-links {
  padding: 20px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.custom-links .container {
  display: inline-flex;
}

.branding .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  height: 40px;
  width: auto;
  min-width: 40px;
}

.branding .logo img {
  width: auto;
  height: 100%;
}

.branding .name {
  font-size: 20px;
  font-weight: bold;
}

.jump-container {
  display: flex;
  max-width: 980px;
  margin: 0 auto;
  margin-top: 40px;
}

.flex {
  flex: 1;
}

.meta {
  display: flex;
  flex-wrap: wrap;
  border-top-style: solid;
  border-top-width: 1px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 30px;
  padding-top: 30px;
  max-width: 980px;
}

.meta .edit-github {
  text-decoration: none;
  display: block;
  flex: 1;
}

.meta .vercel {
  text-align: center;
  flex: 1;
}

.meta .copyright {
  text-align: right;
  flex: 1;
}

.section ul,
.virtual-section ul,
nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li + li {
  margin-top: 0px;
}

.section,
.virtual-section {
  display: flex;
  flex-direction: column;
}

.section {
  margin-top: 8px;
  margin-bottom: 8px;
}

.section > .name {
  display: flex;
  text-decoration: none;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  width: 100%;
  user-select: none;
}

.section > .name > .label {
  flex: 1;
}

.section > .name > .toggle {
  text-align: right;
  background: none;
  border: none;
  font-size: 13px;
}

.section .section {
  margin-left: 16px;
  margin-bottom: 0px;
}

.page {
  display: block;
  padding: 10px;
  text-decoration: none;
}

.section > .links {
  border-left-width: 1px;
  border-left-style: solid;
  padding-top: 6px;
}

.drawer-container {
  --transition-speed: 0.3s;
}

.drawer {
  width: 300px;
  height: 100%;
  overflow: auto;
  position: fixed;
  display: flex;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition: transform var(--transition-speed) ease;
  z-index: 1000;
}

.drawer.left {
  top: 80px;
  left: 0;
  transform: translateX(-105%);
}

.drawer.right {
  top: 80px;
  right: 0;
  transform: translateX(100%);
}

.drawer-container.in.open .left,
.drawer-container.in.open .right {
  transform: translateX(0);
}

.backdrop {
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity var(--transition-speed) ease,
    visibility var(--transition-speed) ease;
  width: 100%;
  height: 100%;
  top: 80px;
  left: 0;
  position: fixed;
  pointer-events: none;
  z-index: 0;
}

.drawer-container.in.open .backdrop {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  z-index: 999;
}

.glossary .letter {
  font-size: 24px;
}

.glossary .term {
  list-style-type: none;
  text-decoration: none;
}

.glossary .terms {
  padding-left: 1em;
  border-left-width: 1px;
  border-left-style: solid;
}

.pages {
  margin-top: 30px;
}

.border {
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: none;
  font-size: 32px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

nav.toc li {
  margin-bottom: 8px;
}

nav.toc li > a {
  color: var(--color-text);
  text-decoration: none;
}

nav.toc li > a:hover {
  color: var(--color-brand);
}

nav.toc li.level-1 {
  padding-left: 0px;
}

nav.toc li.level-2 {
  padding-left: 8px;
}

nav.toc li.level-3 {
  padding-left: 16px;
}

nav.toc li.level-3 {
  padding-left: 24px;
}
