html,
body {
  background: var(--color-background);
  font-family: sans-serif;
  overflow: hidden;
  color: var(--color-text);
}

a {
  color: var(--color-secondary);
}

a.heading {
  position: relative;
  text-decoration: none;
}

a.heading:hover::before {
  position: absolute;
  content: "📎";
  font-size: 12px;
  top: 50%;
  transform: translateY(-50%);
  left: -16px;
}

code {
  background: #f3f3f3;
  color: #444;
  font-size: 85%;
  padding: 0.2em 0.4em;
  border-radius: 6px;
}

.main-grid {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "header header header"
    "nav article article";
}

.sidebar,
#mobile-sidebar {
  display: flex;
  flex-direction: column;
  grid-area: nav;
  background: var(--color-nav);
  border-right: 1px solid var(--color-nav-border);
  overflow-y: auto;
}

#mobile-sidebar {
  width: 100%;
}

.sidebar > nav,
#mobile-sidebar > nav {
  padding: 20px;
  flex: 1;
}

.sidebar > .author,
#mobile-sidebar > .author {
  text-align: center;
  text-decoration: none;
  padding: 20px;
  color: var(--color-author-color);
  background: var(--color-author-background);
}

.sidebar > .author > b,
#mobile-sidebar > .author > b {
  font-weight: bold;
}

.sidebar > .author:hover,
#mobile-sidebar > .author:hover {
  color: var(--color-secondary);
}

.mobile-nav {
  display: none;
  margin-left: 16px;
}

.mobile-nav .toggle {
  font-size: 42px;
  border: none;
  background: none;
  width: 40px;
  height: 40px;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--color-primary);
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (max-width: 800px) {
  .main-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
      "header"
      "article";
  }

  .sidebar {
    display: none;
  }

  .mobile-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

li + li {
  margin-top: 0.25em;
}

li > p {
  margin-top: 16px;
}

p,
blockquote,
ol,
ul,
table,
pre,
details {
  margin-top: 0;
  margin-bottom: 10px;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

h2 {
  font-weight: 600;
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid var(--color-nav-border);
}

h3 {
  font-weight: 600;
  font-size: 1.25em;
}

h4 {
  font-weight: 600;
  font-size: 1em;
}

h5 {
  font-weight: 600;
  font-size: 0.875em;
}

h6 {
  font-weight: 600;
  font-size: 0.85em;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

main {
  padding: 20px 40px;
  overflow-y: auto;
}

article {
  max-width: 980px;
  margin: 0 auto;
  grid-area: article;
  line-height: 1.5;
}

header {
  display: flex;
  grid-area: header;
  align-items: center;
  background: var(--color-secondary);
  z-index: 1001;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 4px;
}

.branding {
  text-decoration: none;
  display: flex;
  padding: 20px;
  color: var(--color-primary);
  align-items: center;
}

.branding .logo {
  margin-right: 10px;
}

.branding .name {
  font-size: 20px;
  font-weight: bold;
}

.header-links {
  flex: 1;
}

.search {
  width: 200px;
}

p.hint.tip,
p.hint.error,
p.hint.warn {
  letter-spacing: 0;
  box-sizing: border-box;
  font-size: inherit;
  line-height: 1.6rem;
  word-spacing: 0.05rem;
  background-color: rgba(238, 238, 238, 0.5);
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  padding: 8px 12px 8px 24px;
  margin-bottom: 16px;
  position: relative;
}

p.hint.tip::before,
p.hint.error::before,
p.hint.warn::before {
  border-radius: 100%;
  color: #fff;
  content: "!";
  font-size: 14px;
  font-weight: 700;
  left: -12px;
  line-height: 20px;
  position: absolute;
  height: 20px;
  width: 20px;
  text-align: center;
  top: 12px;
}

p.hint.tip {
  border-left: 4px solid #27ab83;
}

p.hint.tip::before {
  content: "!";
  background-color: #27ab83;
}

p.hint.warn {
  content: "?";
  border-left: 4px solid #f0b429;
}

p.hint.warn::before {
  background-color: #f0b429;
}

p.hint.error {
  border-left: 4px solid #ef4e4e;
}

p.hint.error::before {
  content: "x";
  background-color: #ef4e4e;
}

.jump-container {
  display: flex;
  max-width: 980px;
  margin: 0 auto;
  margin-top: 40px;
}

.flex {
  flex: 1;
}

a.jump {
  text-decoration: none;
  flex: 1;
  text-align: center;
  border: 1px solid var(--color-secondary);
  padding: 8px 16px;
  width: 100%;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

a.jump:hover {
  background: whitesmoke;
}

a.jump.next {
  margin-left: 8px;
}

a.jump.next::after {
  content: " →";
}

a.jump.previous {
  margin-right: 8px;
}

a.jump.previous::before {
  content: "← ";
}

@media screen and (max-width: 800px) {
  .jump-container {
    flex-direction: column;
  }

  a.jump.next {
    margin-left: 0px;
    margin-top: 16px;
  }

  a.jump.previous {
    margin-right: 0px;
    margin-top: 16px;
  }
}

.meta {
  display: flex;
  border-top: 1px solid var(--color-spacer);
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 30px;
  max-width: 980px;
}

.meta .edit-github {
  text-decoration: none;
  flex: 1;
}

.section ul,
nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav > ul {
  margin-bottom: 16px;
}

.section {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.section > .name {
  text-decoration: none;
  padding: 10px;
  color: var(--color-text);
  border: 1px solid var(--color-spacer);
  width: 100%;
}

.section > .name:hover {
  background: var(--color-spacer);
}

.section > .name.active {
  background: white;
  color: var(--color-secondary);
}

.section .section {
  margin-left: 16px;
  margin-bottom: 0px;
}

.page {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: var(--color-nav-border);
}

.page:hover {
  background: var(--color-spacer);
}

.page.active {
  background: white;
  color: var(--color-secondary);
}

.section > .links {
  border-left: 1px solid var(--color-spacer);
}

.drawer-container {
  --transition-speed: 0.3s;
}

.drawer {
  background: #fff;
  width: 300px;
  height: 100%;
  overflow: auto;
  position: fixed;
  display: flex;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition: transform var(--transition-speed) ease;
  z-index: 1000;
}

.drawer.left {
  top: 80px;
  left: 0;
  transform: translateX(-105%);
}

.drawer-container.in.open .left {
  transform: translateX(0);
}

.backdrop {
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity var(--transition-speed) ease,
    visibility var(--transition-speed) ease;
  width: 100%;
  height: 100%;
  top: 80px;
  left: 0;
  position: fixed;
  pointer-events: none;
  z-index: 0;
}

.drawer-container.in.open .backdrop {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  z-index: 999;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glossary .letter {
  font-size: 24px;
}

.glossary .term {
  list-style-type: none;
  text-decoration: none;
}

.glossary .terms {
  padding-left: 1em;
  border-left: 1px solid var(--color-spacer);
}

.pages {
  margin-top: 30px;
}
