html,
body {
  font-family: hyperbook-body, sans-serif;
  overflow-x: hidden;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

figure {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

figcaption {
  font-style: italic;
  font-size: 14px;
  max-width: 400px;
  margin: 0 auto;
}

a.heading {
  position: relative;
  text-decoration: none;
  padding-left: 16px;
  margin-left: -16px;
}

a.heading:hover::before {
  position: absolute;
  content: "📎";
  font-size: 12px;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
}

code {
  font-family: hyperbook-code, monospace;
  font-size: 85%;
  padding: 0.2em 0.4em;
  border-radius: 6px;
}

.main-grid {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "header header header"
    "nav article article";
}

.sidebar,
#mobile-sidebar {
  display: flex;
  flex-direction: column;
  grid-area: nav;
  border-right-width: 1px;
  height: calc(100vh - 80px);
  border-right-style: solid;
  overflow-y: auto;
}

#toc-sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 80px);
  border-left-width: 1px;
  border-left-style: solid;
  overflow-y: auto;
}

#mobile-sidebar {
  width: 100%;
}

.sidebar > nav,
#mobile-sidebar > nav,
#toc-sidebar > nav {
  padding: 20px;
  flex: 1;
}

.sidebar > .author,
#mobile-sidebar > .author {
  text-align: center;
  text-decoration: none;
  padding: 20px;
}

.sidebar > .author > b,
#mobile-sidebar > .author > b {
  font-weight: bold;
}

.mobile-nav {
  display: none;
  margin-left: 16px;
}

.mobile-nav .toggle {
  font-size: 42px;
  border: none;
  background: none;
  width: 40px;
  height: 40px;
}
.toggle > .bar1,
.toggle > .bar2,
.toggle > .bar3 {
  width: 35px;
  height: 5px;
  margin: 6px 0;
  transition: 0.4s;
}

.toc-toggle {
  position: fixed;
  top: 90px;
  right: 20px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border-style: solid;
  border-width: 1px;
  opacity: 0.7;
  z-index: 1000;
}

.toc-toggle:hover {
  opacity: 1;
}

.toc-toggle > .bar1,
.toc-toggle > .bar3 {
  width: 20px;
  height: 2px;
  margin: 2px 3px;
  transition: 0.4s;
}

.toc-toggle > .bar2,
.toc-toggle > .bar4 {
  width: 25px;
  height: 2px;
  margin: 2px 3px;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (max-width: 800px) {
  .main-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
      "header"
      "article";
  }

  .sidebar {
    display: none;
  }

  .mobile-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

li + li {
  margin-top: 0.25em;
}

li > p {
  margin-top: 16px;
}

p,
blockquote,
ol,
ul,
table,
pre,
details {
  margin-top: 0;
  margin-bottom: 10px;
}

table {
  border-width: 1px;
  border-style: solid;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  border-width: 1px;
  border-style: solid;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom-width: 3px;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: hyperbook-heading, sans-serif;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

h1 {
  font-size: 1.75em;
  font-weight: 700;
}

h2 {
  font-weight: 600;
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

h3 {
  font-weight: 600;
  font-size: 1.25em;
}

h4 {
  font-weight: 600;
  font-size: 1em;
}

h5 {
  font-weight: 600;
  font-size: 0.875em;
}

h6 {
  font-weight: 600;
  font-size: 0.85em;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

main {
  padding: 20px 40px;
  overflow-y: auto;
}

article {
  max-width: 980px;
  margin: 0 auto;
  grid-area: article;
  line-height: 1.5;
}

header {
  display: flex;
  grid-area: header;
  align-items: center;
  z-index: 1001;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 4px;
}

.branding {
  text-decoration: none;
  display: flex;
  padding: 20px;
  align-items: center;
}

.branding .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  height: 50px;
}

.branding .logo img {
  width: auto;
  height: 100%;
}

.branding .name {
  font-size: 20px;
  font-weight: bold;
}

.alert > p {
  margin-bottom: 0;
}

.alert {
  letter-spacing: 0;
  box-sizing: border-box;
  font-size: inherit;
  line-height: 1.6rem;
  word-spacing: 0.05rem;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  padding: 8px 12px 8px 20px;
  margin-bottom: 16px;
  position: relative;
  border-left-width: 4px;
  border-left-style: solid;
}

.alert::before {
  border-radius: 100%;
  font-size: 14px;
  font-weight: 700;
  left: -12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 20px;
  width: 20px;
  text-align: center;
  top: 12px;
}

.alert.success {
  border-left-style: solid;
  border-left-width: 4px;
}

.alert.success::before {
  content: "✓";
}

.alert.info {
  border-left-style: solid;
  border-left-width: 4px;
}

.alert.info::before {
  content: "i";
}

.alert.warn {
  border-left-style: solid;
  border-left-width: 4px;
}

.alert.warn::before {
  content: "!";
}

.alert.error {
  border-left-style: solid;
  border-left-width: 4px;
}

.alert.error::before {
  content: "x";
}

.jump-container {
  display: flex;
  max-width: 980px;
  margin: 0 auto;
  margin-top: 40px;
}

.flex {
  flex: 1;
}

a.jump {
  text-decoration: none;
  flex: 1;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  padding: 8px 16px;
  width: 100%;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

a.jump.next {
  margin-left: 8px;
}

a.jump.next::after {
  content: " →";
}

a.jump.previous {
  margin-right: 8px;
}

a.jump.previous::before {
  content: "← ";
}

@media screen and (max-width: 800px) {
  .jump-container {
    flex-direction: column;
  }

  a.jump.next {
    margin-left: 0px;
    margin-top: 16px;
  }

  a.jump.previous {
    margin-right: 0px;
    margin-top: 16px;
  }
}

.meta {
  display: flex;
  flex-wrap: wrap;
  border-top-style: solid;
  border-top-width: 1px;
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 30px;
  max-width: 980px;
}

.meta .edit-github {
  text-decoration: none;
  flex: 1;
}

.meta .copyright {
  flex: 2;
}

.section ul,
nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav > ul {
  margin-bottom: 16px;
}

nav li + li {
  margin-top: 0px;
}

.section {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.section > .name {
  text-decoration: none;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  width: 100%;
  user-select: none;
}

.section .section {
  margin-left: 16px;
  margin-bottom: 0px;
}

.page {
  display: block;
  padding: 10px;
  text-decoration: none;
}

.section > .links {
  border-left-width: 1px;
  border-left-style: solid;
  padding-top: 6px;
}

.drawer-container {
  --transition-speed: 0.3s;
}

.drawer {
  width: 300px;
  height: 100%;
  overflow: auto;
  position: fixed;
  display: flex;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition: transform var(--transition-speed) ease;
  z-index: 1000;
}

.drawer.left {
  top: 80px;
  left: 0;
  transform: translateX(-105%);
}

.drawer.right {
  top: 80px;
  right: 0;
  transform: translateX(100%);
}

.drawer-container.in.open .left,
.drawer-container.in.open .right {
  transform: translateX(0);
}

.backdrop {
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity var(--transition-speed) ease,
    visibility var(--transition-speed) ease;
  width: 100%;
  height: 100%;
  top: 80px;
  left: 0;
  position: fixed;
  pointer-events: none;
  z-index: 0;
}

.drawer-container.in.open .backdrop {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  z-index: 999;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glossary .letter {
  font-size: 24px;
}

.glossary .term {
  list-style-type: none;
  text-decoration: none;
}

.glossary .terms {
  padding-left: 1em;
  border-left-width: 1px;
  border-left-style: solid;
}

.pages {
  margin-top: 30px;
}

.tabs {
  display: flex;
  /* browser decide if x is ok to scroll and show bars on, y hidden */
  overflow: auto hidden;
  /* prevent scroll chaining on x scroll */
  overscroll-behavior-x: contain;
  /* scrolling should snap children on x */
  scroll-snap-type: x mandatory;
  border-style: solid;
  border-width: 1px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.tabs .tab {
  background: transparent;
  display: inline-flex;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  border: none;
  font-size: 100%;
  padding: 8px 16px;
  transition: 0.3s;
  border-bottom: 4px solid transparent;
}

.tabpanel {
  padding: 6px 12px;
  padding-top: 12px;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  margin-bottom: 12px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.collapsible-button {
  width: 100%;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  user-select: none;
  font-size: 100%;
  padding: 8px 16px;
  transition: 0.3s;
  border-radius: 4px;
}

.collapsible-button.active {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.collapsible-button:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  float: right;
  margin-left: 5px;
}

.collapsible-button.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.collapsible-content {
  border-top: none;
  max-height: 0;
  overflow: hidden;
  margin-bottom: 10px;
}

.collapsible-content.active {
  max-height: 100%;
}

.collapsible-inner {
  border-style: solid;
  border-width: 1px;
  padding: 6px 12px;
  padding-top: 12px;
  border-top: none;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.border {
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
}

.flow {
  position: relative;
  width: 100%;
}

.password {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-bottom: 10px;
}

.password > input {
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
  border-width: 1px;
  border-style: solid;
}

.password > .icon {
  position: absolute;
  user-select: none;
  left: -14px;
  border-width: 1px;
  border-style: solid;
  height: 28px;
  width: 28px;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 10px;
}

.password > .description {
  margin-bottom: 10px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: none;
  font-size: 32px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.download {
  display: flex;
  text-decoration: none;
}

.download:hover {
  background: transparent;
}

.download > .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  border-right-style: solid;
  border-right-width: 1px;
}

.download > .label {
  flex: 1;
  padding: 12px 16px;
}

.download > .offline {
  text-decoration: line-through;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  align-items: center;
}

.bookmark {
  margin-left: 10px;
  background: none;
  border: none;
  opacity: 0.5;
  font-size: 16px;
}

.bookmark:hover {
  opacity: 1;
}

.bookmark.active {
  opacity: 1;
}

ul.bookmarks {
  padding-left: 0;
}

ul.bookmarks li {
  list-style-type: none;
}

ul.bookmarks li {
  display: block;
  border-style: solid;
  border-width: 1px;
  padding: 10px 12px;
  padding-left: 32px;
  position: relative;
  margin: 0;
  border-bottom: none;
}

ul.bookmarks li:first-of-type {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

ul.bookmarks li:last-of-type {
  border-style: solid;
  border-width: 1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

ul.bookmarks a::before {
  content: "🔖";
  position: absolute;
  font-size: 12px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

pre {
  position: relative;
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

code {
  display: inline-flex;
  align-items: center;
  border-width: 1px;
  border-style: solid;
}

button.copy {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
  background: var(--color-nav);
  border: none;
  border-radius: 4px;
  opacity: 0.9;
}

button.copy:hover {
  opacity: 1;
}

pre > button.copy {
  position: absolute;
  right: 10px;
  top: 10px;
}

nav > ul {
  margin-bottom: 16px;
}
nav.toc li {
  margin-bottom: 8px;
}

nav.toc li > a {
  color: var(--color-text);
  text-decoration: none;
}

nav.toc li > a:hover {
  color: var(--color-brand);
}

nav.toc li.level-1 {
  padding-left: 0px;
}

nav.toc li.level-2 {
  padding-left: 8px;
}

nav.toc li.level-3 {
  padding-left: 16px;
}

nav.toc li.level-3 {
  padding-left: 24px;
}

.struktog {
  margin-top: 8px;
  margin-bottom: 8px;
  overflow: hidden;
}

.struktog .error {
  height: 50px;
}

.struktog canvas {
  width: 100%;
  border-radius: 8px;
}

.struktog .editor {
  text-align: right;
}
