.element-embed {
  margin-bottom: 8px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: white;
  border-radius: 8px;
  border-style: solid;
  border-width: 4px;
  border-color: var(--color-brand);
}

.element-embed iframe,
.element-embed embed {
  width: 100%;
  height: 100%;
  border-width: 0;
  padding: 8px;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}
