@import "@hyperbook/markdown/katex.css";
@import "@hyperbook/markdown/index.css";
@import "@hyperbook/element-excalidraw/index.css";
@import "@hyperbook/element-tabs/index.css";
@import "@hyperbook/element-alert/index.css";
@import "@hyperbook/element-term/index.css";
@import "@hyperbook/element-youtube/index.css";
@import "@hyperbook/element-protect/index.css";
@import "@hyperbook/element-collapsible/index.css";
@import "@hyperbook/element-download/index.css";
@import "@hyperbook/element-bookmarks/index.css";
@import "@hyperbook/element-struktog/index.css";
@import "@hyperbook/element-qr/index.css";
@import "@hyperbook/element-mermaid/index.css";
@import "@hyperbook/element-bitflow/index.css";

body {
  padding: 0;
  margin: 0;
}

#root {
  padding: 20px;
  background: var(--color-background);
}
