.directive-struktog {
  margin-top: 8px;
  margin-bottom: 8px;
  overflow: hidden;
}

.directive-struktog .error {
  height: 50px;
}

.directive-struktog canvas {
  width: 100%;
  border-radius: 8px;
}

.directive-struktog .editor {
  text-align: right;
}

.directive-struktog {
  color: black;
}

.directive-struktog .acceptIcon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100'%3e %3crect x='2.5%25' y='2.5%25' width='95%25' height='95%25' rx='5%25' ry='5%25' fill='white' stroke='rgb(38, 64, 64)' stroke-width='5%25'/%3e %3cline x1='15%25' y1='60%25' x2='40%25' y2='85%25' stroke='white' stroke-linecap='round' stroke-width='15%25' /%3e %3cline x1='40%25' y1='85%25' x2='85%25' y2='20%25' stroke='white' stroke-linecap='round' stroke-width='15%25' /%3e %3cline x1='15%25' y1='60%25' x2='40%25' y2='85%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3cline x1='40%25' y1='85%25' x2='85%25' y2='20%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .addCaseIcon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100'%3e %3crect x='2.5%25' y='2.5%25' width='95%25' height='95%25' rx='5%25' ry='5%25' fill='white' stroke='rgb(38, 64, 64)' stroke-width='5%25'/%3e %3cline x1='10%25' y1='50%25' x2='90%25' y2='50%25' stroke='white' stroke-linecap='round' stroke-width='15%25' /%3e %3cline x1='50%25' y1='10%25' x2='50%25' y2='90%25' stroke='white' stroke-linecap='round' stroke-width='15%25' /%3e %3cline x1='20%25' y1='50%25' x2='80%25' y2='50%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3cline x1='50%25' y1='20%25' x2='50%25' y2='80%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .branchCenter {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e %3cline x1='50%25' y1='0%25' x2='50%25' y2='100%25' stroke='black' stroke-width='1.5' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .branchIcon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 128 64'%3e %3crect x='10' y='10' width='108' height='44' stroke='rgb(38, 64, 64)' stroke-width='4' fill-opacity='0' /%3e %3crect x='10' y='40' width='108' height='14' stroke='rgb(38, 64, 64)' stroke-width='4' fill-opacity='0' /%3e %3cline x1='10' y1='10' x2='64' y2='40' stroke='rgb(38, 64, 64)' stroke-width='4' /%3e %3cline x1='118' y1='10' x2='64' y2='40' stroke='rgb(38, 64, 64)' stroke-width='4' /%3e %3cline x1='64' y1='40' x2='64' y2='54' stroke='rgb(38, 64, 64)' stroke-width='4' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .branchSplit {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e %3cline x1='0%25' y1='0%25' x2='50%25' y2='100%25' stroke='black' stroke-width='1.5' /%3e %3cline x1='100%25' y1='0%25' x2='50%25' y2='100%25' stroke='black' stroke-width='1.5' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .cancelIcon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100'%3e %3cline x1='15%25' y1='15%25' x2='85%25' y2='85%25' stroke='white' stroke-linecap='round' stroke-width='15%25' /%3e %3cline x1='15%25' y1='85%25' x2='85%25' y2='15%25' stroke='white' stroke-linecap='round' stroke-width='15%25' /%3e %3cline x1='15%25' y1='15%25' x2='85%25' y2='85%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3cline x1='15%25' y1='85%25' x2='85%25' y2='15%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .caseIcon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 128 64'%3e %3crect x='10' y='10' width='108' height='44' stroke='rgb(38, 64, 64)' stroke-width='4' fill-opacity='0' /%3e %3cline x1='10' y1='10' x2='91' y2='40' stroke='rgb(38, 64, 64)' stroke-width='4' /%3e %3cline x1='118' y1='10' x2='91' y2='40' stroke='rgb(38, 64, 64)' stroke-width='4' /%3e %3cline x1='37' y1='54' x2='37' y2='20' stroke='rgb(38, 64, 64)' stroke-width='4' /%3e %3cline x1='64' y1='54' x2='64' y2='30' stroke='rgb(38, 64, 64)' stroke-width='4' /%3e %3cline x1='91' y1='54' x2='91' y2='40' stroke='rgb(38, 64, 64)' stroke-width='4' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .codeIcon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100'%3e %3crect x='2.5%25' y='2.5%25' width='95%25' height='95%25' rx='5%25' ry='5%25' fill='white' stroke='rgb(38, 64, 64)' stroke-width='5%25'/%3e %3cline x1='30%25' y1='30%25' x2='10%25' y2='50%25' stroke='white' stroke-linecap='round' stroke-width='15%25' /%3e %3cline x1='30%25' y1='70%25' x2='10%25' y2='50%25' stroke='white' stroke-linecap='round' stroke-width='15%25' /%3e %3cline x1='30%25' y1='30%25' x2='10%25' y2='50%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3cline x1='30%25' y1='70%25' x2='10%25' y2='50%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3cline x1='70%25' y1='30%25' x2='90%25' y2='50%25' stroke='white' stroke-linecap='round' stroke-width='15%25' /%3e %3cline x1='70%25' y1='70%25' x2='90%25' y2='50%25' stroke='white' stroke-linecap='round' stroke-width='15%25' /%3e %3cline x1='70%25' y1='30%25' x2='90%25' y2='50%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3cline x1='70%25' y1='70%25' x2='90%25' y2='50%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3cline x1='40%25' y1='85%25' x2='60%25' y2='15%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .copyIcon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 65 65'%3e %3cg id='Text-files'%3e %3cpath d='M53.9791489,9.1429005H50.010849c-0.0826988,0-0.1562004,0.0283995-0.2331009,0.0469999V5.0228 C49.7777481,2.253,47.4731483,0,44.6398468,0h-34.422596C7.3839517,0,5.0793519,2.253,5.0793519,5.0228v46.8432999 c0,2.7697983,2.3045998,5.0228004,5.1378999,5.0228004h6.0367002v2.2678986C16.253952,61.8274002,18.4702511,64,21.1954517,64 h32.783699c2.7252007,0,4.9414978-2.1725998,4.9414978-4.8432007V13.9861002 C58.9206467,11.3155003,56.7043495,9.1429005,53.9791489,9.1429005z M7.1110516,51.8661003V5.0228 c0-1.6487999,1.3938999-2.9909999,3.1062002-2.9909999h34.422596c1.7123032,0,3.1062012,1.3422,3.1062012,2.9909999v46.8432999 c0,1.6487999-1.393898,2.9911003-3.1062012,2.9911003h-34.422596C8.5049515,54.8572006,7.1110516,53.5149002,7.1110516,51.8661003z M56.8888474,59.1567993c0,1.550602-1.3055,2.8115005-2.9096985,2.8115005h-32.783699 c-1.6042004,0-2.9097996-1.2608986-2.9097996-2.8115005v-2.2678986h26.3541946 c2.8333015,0,5.1379013-2.2530022,5.1379013-5.0228004V11.1275997c0.0769005,0.0186005,0.1504021,0.0469999,0.2331009,0.0469999 h3.9682999c1.6041985,0,2.9096985,1.2609005,2.9096985,2.8115005V59.1567993z'/%3e %3cpath d='M38.6031494,13.2063999H16.253952c-0.5615005,0-1.0159006,0.4542999-1.0159006,1.0158005 c0,0.5615997,0.4544001,1.0158997,1.0159006,1.0158997h22.3491974c0.5615005,0,1.0158997-0.4542999,1.0158997-1.0158997 C39.6190491,13.6606998,39.16465,13.2063999,38.6031494,13.2063999z'/%3e %3cpath d='M38.6031494,21.3334007H16.253952c-0.5615005,0-1.0159006,0.4542999-1.0159006,1.0157986 c0,0.5615005,0.4544001,1.0159016,1.0159006,1.0159016h22.3491974c0.5615005,0,1.0158997-0.454401,1.0158997-1.0159016 C39.6190491,21.7877007,39.16465,21.3334007,38.6031494,21.3334007z'/%3e %3cpath d='M38.6031494,29.4603004H16.253952c-0.5615005,0-1.0159006,0.4543991-1.0159006,1.0158997 s0.4544001,1.0158997,1.0159006,1.0158997h22.3491974c0.5615005,0,1.0158997-0.4543991,1.0158997-1.0158997 S39.16465,29.4603004,38.6031494,29.4603004z'/%3e %3cpath d='M28.4444485,37.5872993H16.253952c-0.5615005,0-1.0159006,0.4543991-1.0159006,1.0158997 s0.4544001,1.0158997,1.0159006,1.0158997h12.1904964c0.5615025,0,1.0158005-0.4543991,1.0158005-1.0158997 S29.0059509,37.5872993,28.4444485,37.5872993z'/%3e %3c/g%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .countLoopIcon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 128 64'%3e %3crect x='10' y='10' width='108' height='44' stroke='rgb(38, 64, 64)' stroke-width='4' fill-opacity='0' /%3e %3crect x='30' y='30' width='88' height='24' stroke='rgb(38, 64, 64)' stroke-width='4' fill-opacity='0' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .deleteIcon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100'%3e %3crect x='2.5%25' y='2.5%25' width='95%25' height='95%25' rx='5%25' ry='5%25' fill='white' stroke='rgb(38, 64, 64)' stroke-width='5%25'/%3e %3cline x1='15%25' y1='15%25' x2='85%25' y2='85%25' stroke='white' stroke-linecap='round' stroke-width='15%25' /%3e %3cline x1='15%25' y1='85%25' x2='85%25' y2='15%25' stroke='white' stroke-linecap='round' stroke-width='15%25' /%3e %3cline x1='15%25' y1='15%25' x2='85%25' y2='85%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3cline x1='15%25' y1='85%25' x2='85%25' y2='15%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .exportIcon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100'%3e %3crect x='2.5%25' y='2.5%25' width='95%25' height='95%25' rx='5%25' ry='5%25' fill='white' stroke='rgb(38, 64, 64)' stroke-width='5%25'/%3e %3crect x='10%25' y='20%25' width='40%25' height='60%25' rx='2.5%25' ry='2.5%25' fill='white' stroke='rgb(38, 64, 64)' stroke-width='5%25'/%3e %3crect x='35%25' y='15%25' width='20%25' height='20%25' fill='white'/%3e %3cline x1='35%25' y1='20%25' x2='50%25' y2='35%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='5%25' /%3e %3cline x1='35%25' y1='20%25' x2='35%25' y2='35%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='5%25' /%3e %3cline x1='35%25' y1='35%25' x2='50%25' y2='35%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='5%25' /%3e %3cline x1='40%25' y1='50%25' x2='90%25' y2='50%25' stroke='white' stroke-linecap='round' stroke-width='15%25' /%3e %3cline x1='70%25' y1='30%25' x2='90%25' y2='50%25' stroke='white' stroke-linecap='round' stroke-width='15%25' /%3e %3cline x1='70%25' y1='70%25' x2='90%25' y2='50%25' stroke='white' stroke-linecap='round' stroke-width='15%25' /%3e %3cline x1='40%25' y1='50%25' x2='85%25' y2='50%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3cline x1='70%25' y1='30%25' x2='90%25' y2='50%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3cline x1='70%25' y1='70%25' x2='90%25' y2='50%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .footLoopIcon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 128 64'%3e %3crect x='10' y='10' width='108' height='44' stroke='rgb(38, 64, 64)' stroke-width='4' fill-opacity='0' /%3e %3crect x='30' y='10' width='88' height='24' stroke='rgb(38, 64, 64)' stroke-width='4' fill-opacity='0' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .frameBottom {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e %3cline x1='0%25' y1='100%25' x2='100%25' y2='100%25' stroke='black' stroke-width='3' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .frameLeft {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e %3cline x1='0%25' y1='0%25' x2='0%25' y2='100%25' stroke='black' stroke-width='3' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .frameLeftBottom {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e %3cline x1='0%25' y1='0%25' x2='0%25' y2='100%25' stroke='black' stroke-width='3' /%3e %3cline x1='0%25' y1='100%25' x2='100%25' y2='100%25' stroke='black' stroke-width='3' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .frameLeftRight {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e %3cline x1='0%25' y1='0%25' x2='0%25' y2='100%25' stroke='black' stroke-width='3' /%3e %3cline x1='100%25' y1='0%25' x2='100%25' y2='100%25' stroke='black' stroke-width='3' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .frameTop {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e %3cline x1='0%25' y1='0%25' x2='100%25' y2='0%25' stroke='black' stroke-width='3' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .frameTopLeft {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e %3cline x1='0%25' y1='0%25' x2='100%25' y2='0%25' stroke='black' stroke-width='3' /%3e %3cline x1='0%25' y1='0%25' x2='0%25' y2='100%25' stroke='black' stroke-width='3' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .frameTopLeftBottom {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e %3cline x1='0%25' y1='0%25' x2='100%25' y2='0%25' stroke='black' stroke-width='3' /%3e %3cline x1='0%25' y1='0%25' x2='0%25' y2='100%25' stroke='black' stroke-width='3' /%3e %3cline x1='0%25' y1='100%25' x2='100%25' y2='100%25' stroke='black' stroke-width='3' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .funcIcon {
  background: url("data:image/svg+xml,%3csvg viewBox='0 0 128 64' version='1.1' id='svg6' sodipodi:docname='funcIcon.svg' inkscape:version='1.1.2 (76b9e6a115, 2022-02-25)' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3e %3cdefs id='defs10' /%3e %3csodipodi:namedview id='namedview8' pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1.0' inkscape:pageshadow='2' inkscape:pageopacity='0.0' inkscape:pagecheckerboard='0' showgrid='false' inkscape:zoom='11.164062' inkscape:cx='64.000003' inkscape:cy='31.977608' inkscape:window-width='1920' inkscape:window-height='1010' inkscape:window-x='0' inkscape:window-y='34' inkscape:window-maximized='1' inkscape:current-layer='svg6' /%3e %3crect x='10' y='10' width='108' height='44' stroke='%23264040' stroke-width='4' fill-opacity='0' id='rect2' /%3e %3crect style='fill:%23264040;stroke:%23000000;stroke-width:0' id='rect956' width='2.0448468' height='34.894325' x='57.317982' y='15.117754' /%3e %3crect style='fill:%23264040;stroke:%23000000;stroke-width:0' id='rect958' width='16.901554' height='2.3631611' x='57.40604' y='14.912795' /%3e %3crect style='fill:%23264040;stroke:%23000000;stroke-width:0' id='rect958-6' width='16.901554' height='2.3631611' x='57.354824' y='28.97621' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .gearIcon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100'%3e %3ccircle cx='50%25' cy='50%25' r='50%25' fill='rgba(250, 250, 250, 0.9)' /%3e %3ccircle cx='50%25' cy='50%25' r='25%25' fill='white' stroke='rgb(38, 64, 64)' stroke-width='12%25' /%3e %3ccircle cx='50%25' cy='50%25' r='13%25' fill='white' stroke='rgb(38, 64, 64)' stroke-width='6%25' /%3e %3cg transform='rotate(11.25, 50, 50)'%3e %3cpolygon points='39,22 45,7 55,7 61,22' fill='rgb(38, 64, 64)' transform='rotate(0, 50, 50)' /%3e %3cpolygon points='39,22 45,7 55,7 61,22' fill='rgb(38, 64, 64)' transform='rotate(45, 50, 50)' /%3e %3cpolygon points='39,22 45,7 55,7 61,22' fill='rgb(38, 64, 64)' transform='rotate(90, 50, 50)' /%3e %3cpolygon points='39,22 45,7 55,7 61,22' fill='rgb(38, 64, 64)' transform='rotate(135, 50, 50)' /%3e %3cpolygon points='39,22 45,7 55,7 61,22' fill='rgb(38, 64, 64)' transform='rotate(180, 50, 50)' /%3e %3cpolygon points='39,22 45,7 55,7 61,22' fill='rgb(38, 64, 64)' transform='rotate(225, 50, 50)' /%3e %3cpolygon points='39,22 45,7 55,7 61,22' fill='rgb(38, 64, 64)' transform='rotate(270, 50, 50)' /%3e %3cpolygon points='39,22 45,7 55,7 61,22' fill='rgb(38, 64, 64)' transform='rotate(315, 50, 50)' /%3e %3c/g%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .infoIcon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 1000 1000'%3e %3crect x='2.5%25' y='2.5%25' width='95%25' height='95%25' rx='5%25' ry='5%25' fill='white' stroke='rgb(38, 64, 64)' stroke-width='5%25'/%3e %3ccircle cx='50%25' cy='15%25' r='12.5%25' fill='white' /%3e %3ccircle cx='50%25' cy='15%25' r='10%25' fill='rgb(38, 64, 64)' /%3e %3c!-- %3cline x1='40%25' y1='32.5%25' x2='50%25' y2='32.5%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e --%3e %3c!-- %3cline x1='50%25' y1='32.5%25' x2='50%25' y2='85%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e --%3e %3c!-- %3cline x1='27.5%25' y1='85%25' x2='72.5%25' y2='85%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e --%3e %3crect x='32.5%25' y='27.5%25' width='25%25' height='10%25' rx='5%25' ry='5%25' fill='rgb(38, 64, 64)'/%3e %3crect x='42.5%25' y='27.5%25' width='15%25' height='64%25' rx='5%25' ry='5%25' fill='rgb(38, 64, 64)'/%3e %3crect x='25%25' y='82.5%25' width='50%25' height='10%25' rx='5%25' ry='5%25' fill='rgb(38, 64, 64)'/%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .insertIcon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 130 100'%3e %3cline x1='25%25' y1='40%25' x2='5%25' y2='40%25' stroke='black' stroke-linecap='round' stroke-width='7' /%3e %3cline x1='5%25' y1='40%25' x2='5%25' y2='95%25' stroke='black' stroke-linecap='round' stroke-width='7' /%3e %3cline x1='5%25' y1='95%25' x2='95%25' y2='95%25' stroke='black' stroke-linecap='round' stroke-width='7' /%3e %3cline x1='95%25' y1='95%25' x2='95%25' y2='40%25' stroke='black' stroke-linecap='round' stroke-width='7' /%3e %3cline x1='95%25' y1='40%25' x2='75%25' y2='40%25' stroke='black' stroke-linecap='round' stroke-width='7' /%3e %3cline x1='50%25' y1='5%25' x2='50%25' y2='70%25' stroke='black' stroke-linecap='round' stroke-width='7' /%3e %3cline x1='50%25' y1='70%25' x2='30%25' y2='55%25' stroke='black' stroke-linecap='round' stroke-width='7' /%3e %3cline x1='50%25' y1='70%25' x2='70%25' y2='55%25' stroke='black' stroke-linecap='round' stroke-width='7' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .logo {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 330 290'%3e %3cline x1='5' y1='5' x2='125' y2='5' stroke='black' stroke-linecap='round' stroke-width='10' /%3e %3cline x1='5' y1='5' x2='5' y2='125' stroke='black' stroke-linecap='round' stroke-width='10' /%3e %3cline x1='125' y1='5' x2='125' y2='45' stroke='black' stroke-linecap='round' stroke-width='10' /%3e %3cline x1='5' y1='45' x2='125' y2='45' stroke='black' stroke-linecap='round' stroke-width='10' /%3e %3cline x1='5' y1='85' x2='125' y2='85' stroke='black' stroke-linecap='round' stroke-width='10' /%3e %3cline x1='125' y1='85' x2='125' y2='205' stroke='black' stroke-linecap='round' stroke-width='10' /%3e %3cline x1='5' y1='125' x2='125' y2='125' stroke='black' stroke-linecap='round' stroke-width='10' /%3e %3cline x1='5' y1='165' x2='125' y2='165' stroke='black' stroke-linecap='round' stroke-width='10' /%3e %3cline x1='5' y1='165' x2='5' y2='205' stroke='black' stroke-linecap='round' stroke-width='10' /%3e %3cline x1='5' y1='205' x2='125' y2='205' stroke='black' stroke-linecap='round' stroke-width='10' /%3e %3cline x1='145' y1='85' x2='265' y2='85' stroke='black' stroke-linecap='round' stroke-width='10' /%3e %3cline x1='145' y1='125' x2='265' y2='125' stroke='black' stroke-linecap='round' stroke-width='10' /%3e %3cline x1='145' y1='85' x2='145' y2='205' stroke='black' stroke-linecap='round' stroke-width='10' /%3e %3cline x1='265' y1='85' x2='265' y2='285' stroke='black' stroke-linecap='round' stroke-width='10' /%3e %3cline x1='145' y1='165' x2='265' y2='165' stroke='black' stroke-linecap='round' stroke-width='10' /%3e %3cline x1='145' y1='205' x2='265' y2='205' stroke='black' stroke-linecap='round' stroke-width='10' /%3e %3cline x1='145' y1='245' x2='265' y2='245' stroke='black' stroke-linecap='round' stroke-width='10' /%3e %3cline x1='145' y1='245' x2='145' y2='285' stroke='black' stroke-linecap='round' stroke-width='10' /%3e %3cline x1='145' y1='285' x2='265' y2='285' stroke='black' stroke-linecap='round' stroke-width='10' /%3e %3cline x1='45' y1='45' x2='45' y2='85' stroke='black' stroke-linecap='round' stroke-width='10' /%3e %3cline x1='85' y1='125' x2='85' y2='165' stroke='black' stroke-linecap='round' stroke-width='10' /%3e %3cline x1='185' y1='125' x2='185' y2='165' stroke='black' stroke-linecap='round' stroke-width='10' /%3e %3cline x1='225' y1='125' x2='225' y2='165' stroke='black' stroke-linecap='round' stroke-width='10' /%3e %3cline x1='225' y1='205' x2='225' y2='245' stroke='black' stroke-linecap='round' stroke-width='10' /%3e %3cline x1='285' y1='205' x2='325' y2='205' stroke='black' stroke-linecap='round' stroke-width='10' /%3e %3cline x1='285' y1='205' x2='285' y2='245' stroke='black' stroke-linecap='round' stroke-width='10' /%3e %3cline x1='325' y1='205' x2='325' y2='245' stroke='black' stroke-linecap='round' stroke-width='10' /%3e %3cline x1='285' y1='245' x2='325' y2='245' stroke='black' stroke-linecap='round' stroke-width='10' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .moveIcon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100'%3e %3ccircle cx='50%25' cy='50%25' r='50%25' fill='rgba(250, 250, 250, 0.9)' /%3e %3cline x1='14%25' y1='50%25' x2='86%25' y2='50%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='7%25' /%3e %3cline x1='50%25' y1='14%25' x2='50%25' y2='86%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='7%25' /%3e %3cline x1='50%25' y1='14%25' x2='60%25' y2='24%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='7%25' /%3e %3cline x1='50%25' y1='14%25' x2='40%25' y2='24%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='7%25' /%3e %3cline x1='86%25' y1='50%25' x2='76%25' y2='40%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='7%25' /%3e %3cline x1='86%25' y1='50%25' x2='76%25' y2='60%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='7%25' /%3e %3cline x1='14%25' y1='50%25' x2='24%25' y2='40%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='7%25' /%3e %3cline x1='14%25' y1='50%25' x2='24%25' y2='60%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='7%25' /%3e %3cline x1='50%25' y1='86%25' x2='40%25' y2='76%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='7%25' /%3e %3cline x1='50%25' y1='86%25' x2='60%25' y2='76%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='7%25' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .placeholder {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100'%3e %3ccircle cx='50%25' cy='50%25' r='40%25' stroke='black' stroke-width='7' fill-opacity='0' /%3e %3cline x1='5%25' y1='95%25' x2='95%25' y2='5%25' stroke='black' stroke-width='7' stroke-linecap='round' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .redoIcon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100'%3e %3crect x='2.5%25' y='2.5%25' width='95%25' height='95%25' rx='5%25' ry='5%25' fill='white' stroke='rgb(38, 64, 64)' stroke-width='5%25' /%3e %3cpath d='M 90 50 A 60 50 0 0 1 10 70' stroke='white' fill='none' stroke-linecap='round' stroke-width='15%25' /%3e %3cline x1='90%25' y1='50%25' x2='79%25' y2='30%25' stroke='white' stroke-linecap='round' stroke-width='15%25' /%3e %3cline x1='90%25' y1='50%25' x2='70%25' y2='61%25' stroke='white' stroke-linecap='round' stroke-width='15%25' /%3e %3cpath d='M 90 50 A 60 50 0 0 0 10 70' stroke='rgb(38, 64, 64)' fill='none' stroke-linecap='round' stroke-width='10%25' /%3e %3ccircle cx='90%25' cy='50%25' r='5%25' fill='white' /%3e %3cline x1='90%25' y1='50%25' x2='79%25' y2='30%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3cline x1='90%25' y1='50%25' x2='70%25' y2='61%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .resetIcon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100'%3e %3crect x='2.5%25' y='2.5%25' width='95%25' height='95%25' rx='5%25' ry='5%25' fill='white' stroke='rgb(38, 64, 64)' stroke-width='5%25'/%3e %3cg transform='scale(1, -1) translate(0, -100) rotate(90, 50, 50)'%3e %3ccircle cx='50%25' cy='50%25' r='38%25' fill='white' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3ccircle cx='50%25' cy='50%25' r='5%25' fill='rgb(38, 64, 64)' /%3e %3ccircle cx='74%25' cy='79.5%25' r='11%25' fill='white' /%3e %3ccircle cx='77%25' cy='76%25' r='7%25' fill='rgb(38, 64, 64)' /%3e %3ccircle cx='65.2%25' cy='84.9%25' r='5%25' fill='rgb(38, 64, 64)' /%3e %3cline x1='92%25' y1='75%25' x2='74%25' y2='79.5%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3cline x1='74%25' y1='60%25' x2='74%25' y2='79.5%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3c/g%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .saveIcon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100'%3e %3crect x='2.5%25' y='2.5%25' width='95%25' height='95%25' rx='5%25' ry='5%25' fill='white' stroke='rgb(38, 64, 64)' stroke-width='5%25'/%3e %3crect x='10%25' y='70%25' width='80%25' height='20%25' rx='5%25' ry='5%25' fill='white' stroke='rgb(38, 64, 64)' stroke-width='5%25'/%3e %3cline x1='50%25' y1='10%25' x2='50%25' y2='70%25' stroke='white' stroke-linecap='round' stroke-width='15%25' /%3e %3cline x1='30%25' y1='50%25' x2='50%25' y2='70%25' stroke='white' stroke-linecap='round' stroke-width='15%25' /%3e %3cline x1='70%25' y1='50%25' x2='50%25' y2='70%25' stroke='white' stroke-linecap='round' stroke-width='15%25' /%3e %3cline x1='50%25' y1='10%25' x2='50%25' y2='65%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3cline x1='30%25' y1='50%25' x2='50%25' y2='70%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3cline x1='70%25' y1='50%25' x2='50%25' y2='70%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3ccircle cx='75%25' cy='80%25' r='5%25' fill='rgb(38, 64, 64)' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .switchOff {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 200 100'%3e %3cpath d='M50,5 a10 10 0 0 0 0 90 l100,0 a10 10 0 0 0 0 -90 Z' stroke='rgb(38, 64, 64)' fill='white' stroke-width='5%25' /%3e %3ccircle cx='50' cy='50' r='20%25' fill='white' stroke='rgb(38, 64, 64)' stroke-width='5%25' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .switchOn {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 200 100'%3e %3cpath d='M50,5 a10 10 0 0 0 0 90 l100,0 a10 10 0 0 0 0 -90 Z' stroke='rgb(38, 64, 64)' fill='white' stroke-width='5%25' /%3e %3ccircle cx='150' cy='50' r='20%25' fill='rgb(38, 64, 64)' stroke='rgb(38, 64, 64)' stroke-width='5%25' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .taskIcon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 128 64'%3e %3crect x='10' y='10' width='108' height='44' stroke='rgb(38, 64, 64)' stroke-width='4' fill-opacity='0' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .trashcan {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100'%3e %3ccircle cx='50%25' cy='50%25' r='50%25' fill='rgba(250, 250, 250, 0.9)' /%3e %3crect x='26%25' y='36%25' width='48%25' height='51%25' rx='3%25' ry='3%25' fill='none' stroke='rgb(38, 64, 64)' stroke-width='7%25' /%3e %3crect x='18%25' y='24%25' width='64%25' height='12%25' rx='3%25' ry='3%25' fill='none' stroke='rgb(38, 64, 64)' stroke-width='7%25' /%3e %3crect x='38%25' y='14%25' width='24%25' height='10%25' rx='3%25' ry='3%25' fill='none' stroke='rgb(38, 64, 64)' stroke-width='7%25' /%3e %3cline x1='38%25' y1='48%25' x2='38%25' y2='75%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='7%25' /%3e %3cline x1='50%25' y1='48%25' x2='50%25' y2='75%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='7%25' /%3e %3cline x1='62%25' y1='48%25' x2='62%25' y2='75%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='7%25' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .tryCatchIcon {
  background: url("data:image/svg+xml,%3csvg viewBox='0 0 128 64' version='1.1' id='svg886' sodipodi:docname='tryCatch.svg' inkscape:version='1.1.2 (76b9e6a115, 2022-02-25)' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3e %3cdefs id='defs890' /%3e %3csodipodi:namedview id='namedview888' pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1.0' inkscape:pageshadow='2' inkscape:pageopacity='0.0' inkscape:pagecheckerboard='0' showgrid='false' inkscape:zoom='9.4140625' inkscape:cx='64' inkscape:cy='31.973444' inkscape:window-width='1920' inkscape:window-height='1010' inkscape:window-x='0' inkscape:window-y='34' inkscape:window-maximized='1' inkscape:current-layer='svg886' /%3e %3crect x='10' y='10' width='108' height='44' stroke='rgb(38, 64, 64)' stroke-width='4' fill-opacity='0' id='rect882' /%3e %3crect x='21.345144' y='19.289774' width='97.309708' height='9.8178453' stroke='%23264040' stroke-width='2.69029' fill-opacity='0' id='rect884' /%3e %3crect x='21.344805' y='37.012291' width='97.310387' height='9.8127651' stroke='%23264040' stroke-width='2.68961' fill-opacity='0' id='rect884-3' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .undoIcon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100'%3e %3crect x='2.5%25' y='2.5%25' width='95%25' height='95%25' rx='5%25' ry='5%25' fill='white' stroke='rgb(38, 64, 64)' stroke-width='5%25' /%3e %3cpath d='M 10 50 A 60 50 0 0 1 90 70' stroke='white' fill='none' stroke-linecap='round' stroke-width='15%25' /%3e %3cline x1='10%25' y1='50%25' x2='21%25' y2='30%25' stroke='white' stroke-linecap='round' stroke-width='15%25' /%3e %3cline x1='10%25' y1='50%25' x2='30%25' y2='61%25' stroke='white' stroke-linecap='round' stroke-width='15%25' /%3e %3cpath d='M 10 50 A 60 50 0 0 1 90 70' stroke='rgb(38, 64, 64)' fill='none' stroke-linecap='round' stroke-width='10%25' /%3e %3ccircle cx='10%25' cy='50%25' r='5%25' fill='white' /%3e %3cline x1='10%25' y1='50%25' x2='21%25' y2='30%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3cline x1='10%25' y1='50%25' x2='30%25' y2='61%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog .uploadIcon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100'%3e %3crect x='2.5%25' y='2.5%25' width='95%25' height='95%25' rx='5%25' ry='5%25' fill='white' stroke='rgb(38, 64, 64)' stroke-width='5%25'/%3e %3ccircle cx='50%25' cy='40%25' r='30%25' fill='rgb(38, 64, 64)' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3ccircle cx='25%25' cy='50%25' r='20%25' fill='rgb(38, 64, 64)' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3ccircle cx='80%25' cy='55%25' r='15%25' fill='rgb(38, 64, 64)' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3crect x='30%25' y='55%25' width='45%25' height='15%25' fill='rgb(38, 64, 64)' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3ccircle cx='50%25' cy='40%25' r='30%25' fill='white' /%3e %3ccircle cx='25%25' cy='50%25' r='20%25' fill='white' /%3e %3ccircle cx='80%25' cy='55%25' r='15%25' fill='white' /%3e %3crect x='25%25' y='55%25' width='55%25' height='15%25' fill='white' /%3e %3cline x1='50%25' y1='90%25' x2='50%25' y2='30%25' stroke='white' stroke-linecap='round' stroke-width='15%25' /%3e %3cline x1='30%25' y1='50%25' x2='50%25' y2='30%25' stroke='white' stroke-linecap='round' stroke-width='15%25' /%3e %3cline x1='70%25' y1='50%25' x2='50%25' y2='30%25' stroke='white' stroke-linecap='round' stroke-width='15%25' /%3e %3cline x1='50%25' y1='90%25' x2='50%25' y2='35%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3cline x1='30%25' y1='50%25' x2='50%25' y2='30%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3cline x1='70%25' y1='50%25' x2='50%25' y2='30%25' stroke='rgb(38, 64, 64)' stroke-linecap='round' stroke-width='10%25' /%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.directive-struktog a {
  user-select: none;
  text-decoration: none;
  color: inherit;
}

.directive-struktog .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  position: relative;
}

.directive-struktog .vcontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  position: relative;
  justify-content: flex-start;
}

.directive-struktog .column {
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .directive-struktog .column {
    flex: 1;
  }
}

.directive-struktog .line {
  height: 2em;
  min-height: 2em;
  width: 100%;
}

.directive-struktog .fixedHalfHeight {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0.7em;
  transition: flex-basis 0.2s ease-in-out;
}

.directive-struktog .fixedHeight {
  flex: 0 0 2em;
}

.directive-struktog .fixedDoubleHeight {
  flex: 0 0 4em;
}

.directive-struktog .inputButtonIcon {
  width: 3em;
  float: left;
}

.directive-struktog .symbol {
  margin: 6.5px 0;
}

.directive-struktog .margin-small {
  margin-left: 0.2em;
}

.directive-struktog .margin-top-small {
  margin-top: 0.75em;
}

.directive-struktog .symbolHeight {
  flex: auto;
}

.directive-struktog .justify-center {
  justify-content: center;
}

.directive-struktog .columnInput {
  flex: 48%;
}

@media screen and (min-width: 500px) {
  .directive-struktog .columnInput {
    flex-grow: 0;
    flex-basis: 48%;
  }
}

@media screen and (min-width: 800px) {
  .directive-struktog .columnInput {
    flex-grow: 0;
    flex-basis: 32%;
  }
}

.directive-struktog .padding {
  padding-left: 1em;
  padding-right: 1em;
}

.directive-struktog .columnText {
  flex: auto;
}

.directive-struktog .columnFull {
  flex-basis: 100%;
}

.directive-struktog .columnAuto {
  flex: 1;
}

.directive-struktog .columnAuto-6 {
  flex: 6;
}

.directive-struktog .moveText {
  flex: auto;
  margin: auto;
  padding-bottom: 0.15em;
}

.directive-struktog .bottomHeader {
  align-self: flex-end;
}

.directive-struktog .loopShift {
  justify-content: flex-end !important;
}

.directive-struktog .loopShift .loopWidth {
  flex-basis: calc(100% - 2em);
}

.directive-struktog .headerContainer {
  display: flex;
  flex-wrap: nowrap;
}

.directive-struktog .floatBottom {
  flex: auto;
  align-self: flex-end;
}

.directive-struktog .sourcecodeHeader {
  height: 1.3em;
}

.directive-struktog .struktoOptions1 {
  display: flex !important;
  height: 2em;
  flex: auto;
  justify-content: flex-end;
}

.directive-struktog .struktoOptions2 {
  display: none !important;
  height: 2em;
  padding-top: 0.3em;
}

@media screen and (min-width: 1200px) {
  .directive-struktog .struktoOptions1 {
    display: none !important;
  }

  .directive-struktog .struktoOptions2 {
    display: flex !important;
  }
}

.directive-struktog .struktoOption {
  width: 2em;
  margin-right: 0.5em;
}

.directive-struktog .disableIcon {
  background-color: rgba(250, 250, 250, 0.75);
}

.directive-struktog .caseOptionsIcons {
  height: 1.25em;
  flex-basis: 3em;
}

.directive-struktog .func-header-text-div {
  border: solid 1px transparent;
  cursor: pointer;
}

.directive-struktog .ov-hidden {
  overflow: hidden;
}

.directive-struktog .func-header-input {
  border-radius: 0.15em;
  border: 0.15em solid #264040;
  font-size: 100%;
}

.directive-struktog .caseBody-1 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cline x1='50%' y1='0%' x2='50%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3C/svg%3E") no-repeat top left;
  background-size: cover;
}

.directive-struktog .caseHead-noDefault-2 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cline x1='0%' y1='0%' x2='100%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='50%' y1='50%' x2='50%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3C/svg%3E") no-repeat top left;
  background-size: cover;
}

.directive-struktog .caseHead-2 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cline x1='0%' y1='0%' x2='66.6666%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='100%' y1='0%' x2='66.6666%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='33.3333%' y1='100%' x2='33.3333%' y2='50%' stroke='black' stroke-width='1.5' /%3E%3C/svg%3E") no-repeat top left;
  background-size: cover;
}

.directive-struktog .caseBody-2 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cline x1='33.3333%' y1='0%' x2='33.3333%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='66.6666%' y1='0%' x2='66.6666%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3C/svg%3E") no-repeat top left;
  background-size: cover;
}

.directive-struktog .caseHead-noDefault-3 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cline x1='0%' y1='0%' x2='100%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='33.3333%' y1='33.3333%' x2='33.3333%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='66.6666%' y1='66.6666%' x2='66.6666%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3C/svg%3E") no-repeat top left;
  background-size: cover;
}

.directive-struktog .caseHead-3 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cline x1='0%' y1='0%' x2='75%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='100%' y1='0%' x2='75%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='25%' y1='100%' x2='25%' y2='33.3333%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='50%' y1='100%' x2='50%' y2='66.6666%' stroke='black' stroke-width='1.5' /%3E%3C/svg%3E") no-repeat top left;
  background-size: cover;
}

.directive-struktog .caseBody-3 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cline x1='25%' y1='0%' x2='25%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='50%' y1='0%' x2='50%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='75%' y1='0%' x2='75%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3C/svg%3E") no-repeat top left;
  background-size: cover;
}

.directive-struktog .caseHead-noDefault-4 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cline x1='0%' y1='0%' x2='100%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='25%' y1='25%' x2='25%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='50%' y1='50%' x2='50%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='75%' y1='75%' x2='75%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3C/svg%3E") no-repeat top left;
  background-size: cover;
}

.directive-struktog .caseHead-4 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cline x1='0%' y1='0%' x2='80%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='100%' y1='0%' x2='80%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='20%' y1='100%' x2='20%' y2='25%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='40%' y1='100%' x2='40%' y2='50%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='60%' y1='100%' x2='60%' y2='75%' stroke='black' stroke-width='1.5' /%3E%3C/svg%3E") no-repeat top left;
  background-size: cover;
}

.directive-struktog .caseBody-4 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cline x1='20%' y1='0%' x2='20%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='40%' y1='0%' x2='40%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='60%' y1='0%' x2='60%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='80%' y1='0%' x2='80%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3C/svg%3E") no-repeat top left;
  background-size: cover;
}

.directive-struktog .caseHead-noDefault-5 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cline x1='0%' y1='0%' x2='100%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='20%' y1='20%' x2='20%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='40%' y1='40%' x2='40%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='60%' y1='60%' x2='60%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='80%' y1='80%' x2='80%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3C/svg%3E") no-repeat top left;
  background-size: cover;
}

.directive-struktog .caseHead-5 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cline x1='0%' y1='0%' x2='83.3333%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='100%' y1='0%' x2='83.3333%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='16.6666%' y1='100%' x2='16.6666%' y2='20%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='33.3333%' y1='100%' x2='33.3333%' y2='40%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='50%' y1='100%' x2='50%' y2='60%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='66.6666%' y1='100%' x2='66.6666%' y2='80%' stroke='black' stroke-width='1.5' /%3E%3C/svg%3E") no-repeat top left;
  background-size: cover;
}

.directive-struktog .caseBody-5 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cline x1='16.6666%' y1='0%' x2='16.6666%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='33.3333%' y1='0%' x2='33.3333%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='50%' y1='0%' x2='50%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='66.6666%' y1='0%' x2='66.6666%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='83.3333%' y1='0%' x2='83.3333%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3C/svg%3E") no-repeat top left;
  background-size: cover;
}

.directive-struktog .caseHead-noDefault-6 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cline x1='0%' y1='0%' x2='100%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='16.6666%' y1='16.6666%' x2='16.6666%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='33.3333%' y1='33.3333%' x2='33.3333%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='50%' y1='50%' x2='50%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='66.6666%' y1='66.6666%' x2='66.6666%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='83.3333%' y1='83.3333%' x2='83.3333%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3C/svg%3E") no-repeat top left;
  background-size: cover;
}

.directive-struktog .caseHead-6 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cline x1='0%' y1='0%' x2='85.7142%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='100%' y1='0%' x2='85.7142%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='14.2857%' y1='100%' x2='14.2857%' y2='16.6666%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='28.5714%' y1='100%' x2='28.5714%' y2='33.3333%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='42.8571%' y1='100%' x2='42.8571%' y2='50%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='57.1428%' y1='100%' x2='57.1428%' y2='66.6666%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='71.4285%' y1='100%' x2='71.4285%' y2='83.3333%' stroke='black' stroke-width='1.5' /%3E%3C/svg%3E") no-repeat top left;
  background-size: cover;
}

.directive-struktog .caseBody-6 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cline x1='14.2857%' y1='0%' x2='14.2857%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='28.5714%' y1='0%' x2='28.5714%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='42.8571%' y1='0%' x2='42.8571%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='57.1428%' y1='0%' x2='57.1428%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='71.4285%' y1='0%' x2='71.4285%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='85.7142%' y1='0%' x2='85.7142%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3C/svg%3E") no-repeat top left;
  background-size: cover;
}

.directive-struktog .caseHead-noDefault-7 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cline x1='0%' y1='0%' x2='100%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='14.2857%' y1='14.2857%' x2='14.2857%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='28.5714%' y1='28.5714%' x2='28.5714%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='42.8571%' y1='42.8571%' x2='42.8571%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='57.1428%' y1='57.1428%' x2='57.1428%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='71.4285%' y1='71.4285%' x2='71.4285%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='85.7142%' y1='85.7142%' x2='85.7142%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3C/svg%3E") no-repeat top left;
  background-size: cover;
}

.directive-struktog .caseHead-7 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cline x1='0%' y1='0%' x2='87.5%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='100%' y1='0%' x2='87.5%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='12.5%' y1='100%' x2='12.5%' y2='14.2857%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='25%' y1='100%' x2='25%' y2='28.5714%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='37.5%' y1='100%' x2='37.5%' y2='42.8571%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='50%' y1='100%' x2='50%' y2='57.1428%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='62.5%' y1='100%' x2='62.5%' y2='71.4285%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='75%' y1='100%' x2='75%' y2='85.7142%' stroke='black' stroke-width='1.5' /%3E%3C/svg%3E") no-repeat top left;
  background-size: cover;
}

.directive-struktog .caseBody-7 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cline x1='12.5%' y1='0%' x2='12.5%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='25%' y1='0%' x2='25%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='37.5%' y1='0%' x2='37.5%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='50%' y1='0%' x2='50%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='62.5%' y1='0%' x2='62.5%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='75%' y1='0%' x2='75%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3Cline x1='87.5%' y1='0%' x2='87.5%' y2='100%' stroke='black' stroke-width='1.5' /%3E%3C/svg%3E") no-repeat top left;
  background-size: cover;
}

.directive-struktog .text-center {
  text-align: center;
}

.directive-struktog .text-right {
  text-align: right;
}

.directive-struktog .text-left {
  text-align: left;
}

.directive-struktog .borderHeight {
  height: 2px;
}

.directive-struktog .borderWidth {
  flex: 0 0 3px;
}

.directive-struktog .error {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--internal-color-error);
  color: white;
  font-weight: bold;
  border-radius: 8px;
}
