.directive-blockflow-player {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-brand);
}

.directive-blockflow-player iframe {
  width: 100%;
  height: 100%;
  border-width: 0;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}
