.directive-tiles .tiles {
  display: grid;
  column-gap: 0.75rem;
  row-gap: 0.75rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  list-style-type: none;
}

.directive-tiles .tile.S {
  grid-column-start: span 2;
}

.directive-tiles .tile.M {
  grid-column-start: span 3;
}

.directive-tiles .tile.L {
  grid-column-start: span 4;
}

@media screen and (max-width: 900px) {
  .directive-tiles .tiles {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .directive-tiles .tile.S {
    grid-column-start: span 4;
  }

  .directive-tiles .tile.M {
    grid-column-start: span 6;
  }

  .directive-tiles .tile.L {
    grid-column-start: span 8;
  }
}

@media screen and (max-width: 600px) {
  .directive-tiles .tiles {
    grid-template-columns: 1fr 1fr;
  }

  .directive-tiles .tile.S {
    grid-column-start: span 1;
  }

  .directive-tiles .tile.M {
    grid-column-start: span 1;
  }

  .directive-tiles .tile.L {
    grid-column-start: span 1;
  }
}

.directive-tiles .tile {
  line-height: 1.2em;
  min-height: 6rem;
  background: var(--color-nav);
  transition: all 300ms;
  padding: 8px;
  position: relative;
  border-radius: 8px;
}

.directive-tiles .tile.link:hover {
  background: var(--color-brand);
  color: var(--color-brand-text);
}

.directive-tiles .tile.link:hover a {
  color: var(--color-brand-text);
  height: 100%;
  display: block;
}

.directive-tiles .tile.link a {
  text-decoration: none;
}

.directive-tiles .tile-icon {
  position: absolute;
  width: 3rem;
  bottom: 0.5rem;
  right: 0.5rem;
}

