.element-audio {
  margin-bottom: 16px;
}

.element-audio .information {
  margin-top: 4px;
  text-align: center;
  font-style: italic;
}

.element-audio .player .thumbnail {
  width: 64px;
  height: 64px;
  background-size: cover;
  background-position: center;
  border-right: 1px solid;
  border-right-color: var(--color-nav-border);
}

.element-audio .player .thumbnail.right {
  border-right: none;
  border-left: 1px solid;
  border-left-color: var(--color-nav-border);
}

.element-audio .player {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: var(--color-nav);
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-nav-border);
}

.element-audio .player .wave {
  flex: 1;
}

.element-audio .player .play {
  width: 64px;
  height: 64px;
  display: flex;
  border: none;
  color: var(--color-text);
  background: none;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  padding: 0;
}
