.directive-sqlide {
  margin-bottom: 10px;
  border: 1px solid var(--color-spacer);
  border-radius: 8px;
  background: #1e1e1e;
  overflow: hidden;
}

.directive-sqlide iframe {
  width: 100%;
}

.directive-sqlide .menu {
  display: flex;
  border-top: 1px solid var(--color-spacer);
}

.directive-sqlide .menu button {
  flex: 1;
  background: var(--color-nav);
  color: var(--color-text);
  border: none;
  cursor: pointer;
}
