.directive-collapsible {
  display: flow-root;
}

.directive-collapsible>summary {
  width: 100%;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  user-select: none;
  font-size: 100%;
  padding: 8px 16px;
  border-radius: 4px;
  margin-bottom: 0;
  list-style: none;
  color: var(--color-text);
  border-color: var(--color-spacer);
  background-color: var(--color-nav);
}

.directive-collapsible>summary::-webkit-details-marker {
  display: none;
}

.directive-collapsible>summary::marker {
  display: none;
}

.directive-collapsible[open]>summary {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 0px;
}

.directive-collapsible>summary:after {
  content: "\02795";
  /* Unicode character for "plus" sign (+) */
  font-size: 0.8125rem;
  float: right;
  margin-left: 5px;
  color: var(--color-text);
}

.directive-collapsible[open]>summary:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

.directive-collapsible .content {
  border-top: none;
  margin-bottom: 0;
}

.directive-collapsible[open] .content {
  display: block;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  padding: 6px 12px;
  padding-top: 12px;
  margin-bottom: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-color: var(--color-spacer);
}
