:root {
  --alert-color: var(--color-nav-border);
  --alert-content: "";
}

.directive-alert>p {
  margin-bottom: 10px;
}

.directive-alert {
  display: flow-root;
  letter-spacing: 0;
  box-sizing: border-box;
  font-size: inherit;
  line-height: 1.6rem;
  word-spacing: 0.05rem;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  padding: 8px 12px 8px 20px;
  margin-bottom: 16px;
  position: relative;
  border-left-width: 4px;
  border-left-style: solid;
  background-color: var(--color-nav);
  border-left-color: var(--alert-color);
  border-left-style: solid;
  border-left-width: 4px;

  a,
  strong {
    color: var(--alert-color);
  }

  :first-child {
    margin-top: 0;
  }

  :first-child.p {
    margin-top: 10px;
  }
}

.directive-alert.icon::before {
  border-radius: 100%;
  font-size: 14px;
  font-weight: 700;
  left: -14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 24px;
  width: 24px;
  top: 8px;
  color: #fff;
  content: var(--alert-content);
  background-color: var(--alert-color);
}

.directive-alert.success {
  --alert-color: #00c851;
  --alert-content: "✓";
}

.directive-alert.info {
  --alert-color: #33b5e5;
  --alert-content: "i";
}

.directive-alert.warn {
  --alert-color: #f0b429;
  --alert-content: "!";
}

.directive-alert.error {
  --alert-color: #ef4e4e;
  --alert-content: "x";
}
