.directive-download {
  border-color: var(--color-spacer);
  background: var(--color-nav);
  display: flex;
  text-decoration: none;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
}

.directive-download:hover {
  background: transparent;
}

.directive-download>.icon {
  display: flex;
  border-right-color: var(--color-spacer);
  align-items: center;
  justify-content: center;
  width: 60px;
  border-right-style: solid;
  border-right-width: 1px;
}

.directive-download>.label {
  flex: 1;
  padding: 12px 16px;
}

.directive-download>.offline {
  text-decoration: line-through;
}
