.hyperbook.element-alert > p {
  margin-bottom: 0;
}

.hyperbook.element-alert {
  letter-spacing: 0;
  box-sizing: border-box;
  font-size: inherit;
  line-height: 1.6rem;
  word-spacing: 0.05rem;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  padding: 8px 12px 8px 20px;
  margin-bottom: 16px;
  position: relative;
  border-left-width: 4px;
  border-left-style: solid;
}

.hyperbook.element-alert::before {
  border-radius: 100%;
  font-size: 14px;
  font-weight: 700;
  left: -12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 20px;
  width: 20px;
  text-align: center;
  top: 12px;
}

.hyperbook.element-alert.success {
  border-left-style: solid;
  border-left-width: 4px;
}

.hyperbook.element-alert.success::before {
  content: "✓";
}

.hyperbook.element-alert.info {
  border-left-style: solid;
  border-left-width: 4px;
}

.hyperbook.element-alert.info::before {
  content: "i";
}

.hyperbook.element-alert.warn {
  border-left-style: solid;
  border-left-width: 4px;
}

.hyperbook.element-alert.warn::before {
  content: "!";
}

.hyperbook.element-alert.error {
  border-left-style: solid;
  border-left-width: 4px;
}

.hyperbook.element-alert.error::before {
  content: "x";
}

.hyperbook.element-alert {
  background-color: var(--color-nav);
  border-left-color: var(--color-nav-border);
}

.hyperbook.element-alert::before {
  color: #fff;
}

.hyperbook.element-alert.success {
  border-left-color: #00c851;
}

.hyperbook.element-alert.success::before {
  background-color: #00c851;
}

.hyperbook.element-alert.info {
  border-left-color: #33b5e5;
}

.hyperbook.element-alert.info::before {
  background-color: #33b5e5;
}

.hyperbook.element-alert.warn {
  border-left-color: #f0b429;
}

.hyperbook.element-alert.warn::before {
  background-color: #f0b429;
}

.hyperbook.element-alert.error {
  border-left-color: #ef4e4e;
}

.hyperbook.element-alert.error::before {
  background-color: #ef4e4e;
}
