.element-qr {
  padding: 8px;
  margin: 0 auto;
  border-radius: 8px;
  width: fit-content;
  text-align: center;
  margin-bottom: 10px;
}

.element-qr .code {
  display: flex;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  width: 100%;
}

.element-qr .code.S {
  padding: 4px;
  max-width: calc(64px - 8px);
}

.element-qr .code.S canvas,
.element-qr .code.S img,
.element-qr .code.S svg {
  border-radius: 2px;
}

.element-qr .code.M canvas,
.element-qr .code.M img,
.element-qr .code.M svg {
  border-radius: 4px;
}

.element-qr .code.M {
  padding: 8px;
  max-width: calc(128px - 16px);
}

.element-qr .code.L {
  padding: 12px;
  max-width: calc(256px - 24px);
}

.element-qr .code.XL {
  padding: 16px;
  max-width: calc(512px - 32px);
}

.element-qr svg,
.element-qr img,
.element-qr canvas {
  border-radius: 8px;
  width: 100% !important;
  height: auto !important;
}

.element-qr .label {
  margin-top: 8px;
  text-align: center;
  font-weight: bold;
}

.element-qr .label.S {
  font-size: 12px;
}

.element-qr .label.M {
  font-size: 14px;
}

.element-qr {
  background-color: var(--color-nav);
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-nav-border);
}
